/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
    font-family: 'levenim_mt';
    src: url('../fonts/levenim_mt.eot');
    src: url('../fonts/levenim_mt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/levenim_mt.woff') format('woff'),
         url('../fonts/levenim_mt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'levenim_mt', sans-serif;
  background: #f4f4f4;
  clear: both;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a:focus{
  outline: none;
}
a{
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  outline: 0px;
}
.padding-off{
  padding-left: 0px;
  padding-right: 0px;
}
.padding-left-off{
  padding-left: 0px
}
.padding-right-off{
  padding-right: 0px;
}
.margin-t15{
  margin-top: 15px;
}
.margin-t25{
  margin-top: 25px;
}
.margin-t30{
  margin-top: 30px;
}
.list-inline{
  margin-left: 0px;
}
/*----------------------------
    Headers
-----------------------------*/
.header-top{
  background: #ffffff;
}
.header-menu ul{
  padding-left: 0px;
}
.header-menu li{
  list-style: none;
  float: left;
  padding: 0px 5px;
}
.header-menu li a{
  font-size: 14px;
  color: #999999;
  font-weight: bold;
  font-family: 'levenim_mt', sans-serif;
}
.navbar{
  min-height: 35px;
}
.navbar-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 0px;
  box-shadow: 0 0 0;
  margin: 23px 0;
}  
.navbar-default .navbar-nav > li{
  padding: 0px;
  -webkit-transition:color .5s ease-out, background 0.8s ease-in;
  /* ...and now for the proper property */
  transition:color .5s ease-out, background 0.8s ease-in; 
}
.navbar-default .navbar-nav > li:hover{
  background: none;
  color: #0aabc0
}
.navbar-default .navbar-nav > li > a {
  color: #999999;
  font-size: 13px;
  padding: 5px;
  font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #0aabc0
}
.navbar-nav > li > a {
  line-height: 18px;
  font-size: 14px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
  background: none;
  color: #0aabc0;
}
.user-access{
  margin-top: 8px;
}
.user-access a{
  margin: 0px;
}

.login-btn {
  border-radius: 2px;
  display: inline-block;
  color: #b4b4b4;
  font-size: 14px;
  font-weight: bold;
  border: 3px solid #0aabc0;
  border-right: 0px;
  padding: 5px 30px;
  display: block;
  border-top-right-radius: 0px; 
  border-bottom-right-radius: 0px; 
  text-align: center;
}
.signup-btn{
  background: #0aabc0;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 17px;
  display: block;
  border-radius: 2px;
  border-top-left-radius: 0px; 
  border-bottom-left-radius: 0px; 
  text-align: center;
}

/*----------------------------
    Header:: Right Side
-----------------------------*/
.navbar-nav .dropdown-menu > li > a:hover{
  color: #0aabc0;
}
.dropdown-menu{
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 12px;
  list-style: outside none none;
  left:0px;
  padding: 0px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
  border-top: 4px solid #0aabc0;
  margin: 26px 0 0 !important;

}
.dropdown-menu > li > a {
  clear: both;
  color: #999999;
  display: block;
  font-weight: 400;
  line-height: 1.42857;
  padding: 8px 20px;
  white-space: nowrap;
  width: 100%;
}
.dropdown-menu > li:hover{
  background: none;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a{
  margin-top: 0px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background:none;
}
 .dropdown-menu > li:last-child a{
  color: #000;
}
.dropdown-menu > li:last-child i{
  color: #000;
} 
.dropdown-menu > li > a:hover i{
  color: #0aabc0;
}
.fiter-selector{
  width: 15%;
}
.lang-selector{
  width: 17%;
}
.update ul{
  margin-top: 30px;
}
.update ul li{
  margin-left: -1px;
}
.point-number{
  display: inline-block;
}
.bootstrap-select button{
  padding-left: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #999;
  border: 0px;
  border-radius: 0px;
  box-shadow: 0px 0px 0px;
}
.top-right-head{
  float: right;
}

.user-option {
  padding-top: 15px;
}
.user-profile {
  margin-top: 7px;
  display: inline-block;
}
.user-option i {
  color: #999999;
  font-size: 20px;
  padding: 0 1px;
}
.user-info{
  margin: 25px 0 0 !important;
  width: 216px !important;
  left: -80px !important;
}
.user-info i{
  display: inline-block !important;
  font-size: 14px !important;
  vertical-align: middle;
}
.user-info li a{
  display: inline-block;
  font-weight: bold;
}
.user-info:hover li{
  color: #0aabc0;
}
.icon-option {
  float: left;
  margin-left: 11px;
  margin-top: 14px;
  width: 116px;
}
.list-inline > li {
  vertical-align: middle;
}
.user-text {
  border: 2px solid rgb(226, 226, 226);
  padding: 7.8px 8px;
  color: #212121;
  font-weight: 600;
  font-size: 13px;
}
.bell-circle {
  position: absolute;
  color: #79cd00 !important;
  font-size: 10px !important;
} 
.comment-circle {
  position: absolute;
  color: #f70000 !important;
  font-size: 10px !important;
  left: 3px;
}
.user-dropdown {
  background: rgb(226, 226, 226) none repeat scroll 0% 0%;
  font-weight: 600;
  color: #666;
  padding: 9px 9px !important;
}
.user-dropdown i{
  color: #000;
  font-size: 17px;
  font-weight: bold;
}

/*----------------------------
    Section:: Featured App
-----------------------------*/
.home .side-nav-heading{
  background: #019fb3;
  color: #fff;
  padding: 15px;
}
.home .side-nav-heading a{
  color: #fff;
  font-size: 16px;
}
.home .side-nav-heading a span i{
  text-align: right;
  float: right;
  font-size: 16px;
  line-height: 25px;
}
.home .category-list{
  background: #fff;
}
.home .category-list  ul{
  padding-left: 0px;
}
.home .category-list li{
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid #e3e3e3;
  color: #212121;
}
.home .category-list li:hover{
  color: #ffffff;
}
.home .red{
  border-left: 3px solid #ff003c; 
}
.home .red:hover{
  background: #ff003c;
  color: #fff;
  border-left: 5px solid #920022;
}
.home .green{
  border-left: 3px solid #71b62e;
}
.home .green:hover{
  background: #71b62e;
  border-left: 5px solid #234204;
}
.home .blue{
  border-left: 3px solid #00a8ff; 
}
.home .blue:hover{
  background: #00a8ff;
  border-left: 5px solid #064e74; 
}
.home .yellow{
  border-left: 3px solid #ff8a00;
}
.home .yellow:hover{
  background: #ff8a00;
  border-left: 5px solid #673d0b;
}
.home .purple{
  border-left: 3px solid #a200ff;
}
.home .purple:hover{
  background: #a200ff;
  border-left: 5px solid #430467;
}
.home .featured-apps{
  margin-top: 20px;
  background: #ffffff;
  border-right: 1px solid #e3e3e3 
}
.home .calender{
  border: 1px solid #e3e3e3;
  border-right: 0px;
}
.home .calendar:last-child{
  border-right: 1px solid #e3e3e3; 
}
.home .calendar:first-child{
  border-right: 1px solid #e3e3e3; 
}
/* .home .calender:hover{
  border: 2px solid #e3e3e3;
  padding-bottom: 0px !important;
} */
.home .calender:hover .download{
  color: #0aabc0;
}
.home .calender:hover h3{
  color: #0aabc0;
}
.home .calender img{
  margin: 40px auto 0px;
  display: block;
}
.home .calender h3{
  font-size: 18px;
  color: #212121;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 35px;
  font-weight: bold;
}
.home .calender p{
  font-size: 14px;
  color: #999999;
  text-align: center;
}
.home .featured-star ul{
  margin: 20px auto;
  display: block;
  text-align: center;
}
.home .featured-star li{
  list-style: none;
  padding: 0px 1px;
}
.home .featured-star a{
  text-decoration:none; 
}
.home .download{
  border-top: 1px solid #e3e3e3;
  font-size: 14px;
  color: #999999;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  margin-top: 10px;

  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/*----------------------------
    Section:: News & Magazins
-----------------------------*/
.home .news-game{
  margin-top: 20px;
}
.home .news-magazines{
  background: #ffffff;
  border: 1px solid #e3e3e3;
  padding-bottom: 25px;
}
.home .updated-games{
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-left: 0px;
}
.home .news-magazins-heading h1{
  font-size: 18px;
  color: #212121;
  text-align: left;
}
.home .more-btn{
  background: #0aabc0 none repeat scroll 0 0;
  border-radius: 3px;
  color: #ffffff;
  float: right;
  font-size: 14px;
  line-height: 30px;
  margin-top: 20px;
  padding: 0 12px;
  text-align: center;
}
.home .news-magazins-details{
  margin-top: 0px;
}
.news-one{
  border: 1px solid #e3e3e3;
  padding: 15px;
}
.news-one img{
  margin: 0px auto;
  display: block;
  text-align: center;
}
.news-one h1{
  font-size: 14px;
  color: #212121;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: 'levenim_mt', sans-serif;

  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.news-one p{
  font-size: 14px;
  color: #999999;
}

.star ul{
  display: inline-block;
}
.star ul li{
  list-style: none;
  padding: 0px 0px;
}
.star span{
  display: inline-block;
  text-align: right;
  color: #999999;
  font-weight: bold;
  float: right;
}
.fa-star{
  color: #0aabc0;
  font-size: 11px;
}
.updated-games{
  padding-bottom: 25px;
}
.item{
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-bottom: 0px;
}
.item:hover .news-one h1{
  color: #0aabc0;
}
.news-one:hover {
  box-shadow: 0px 10px 20px rgba(94,94,94,0.5);
}

/*----------------------------
    Section::  Peolple Choice
-----------------------------*/
.home .people-choice{
  margin-top: 15px;
}
.home .people-choice-inner h3{
  color: #212121;
  font-size: 18px;
}
.home .people-choice-left{
  background: #ffffff;
  margin-top: 10px;
}
.home .health-fitness h3{
  font-size: 18px;
  color: #212121;
  font-weight: bold;
}
.home .health-fitness p{
  color: #999999;
  font-size: 14px;
}
.home .fa-check-circle{
  color: #80c039;
}
.home .description{
  margin-top: 20px;
}
.home .description p{
  color: #999999;
  font-size: 14px;
}
.home .works{
  margin-top: 20px;
}
.home .works h4{
  font-size: 14px;
  color: #212121;
  font-weight: bold;
}
.home .works p{
  color: #999999;
  font-size: 14px;
  margin-bottom: 35px;
}
.home .read-more-btn{
  color: #212121;
  font-size: 14px;
}
.home .read-more-btn:hover{
  color: #0aabc0;
}
.home .netflix{
  margin-top: 10px;
  margin-bottom: 25px;
  background: #ffffff;
}
.home .netflix-details h1{
  font-size: 18px;
  color: #212121;
  font-weight: bold;
}
.home .netflix-details p{
  font-size: 14px;
  color: #999999;
}
.home .netflix-details .star{
  margin-bottom: 30px;
}
.home .modal-header {
  background: #0aabc0;
}
.home .close {
  color: #fff;
} 
.home .people-choice-right{
  padding-right: 0px;
}
/*----------------------------
    Section::  Tranding Apps
-----------------------------*/
.home .tranding-applications{
  margin-top: 15px;
}
.home .tranding-apps-inner{
  background: #ffffff;
  border: 1px solid #e3e3e3;
  padding-bottom: 25px;
}
/*----------------------------
    Section::  Specials
-----------------------------*/
.home .special{
  margin-top: 30px;
}
/*----------------------------
    Footer
-----------------------------*/
.footer{
  background: #1FAE5B;
  margin-top: 80px;
}
.footer-inner{
  padding: 5px;
}
.footer-inner img{
  margin: 0px auto;
  display: block;
  margin-top: 20px;
}
.footer-menu{
  margin-top: 20px;
}
.footer-menu ul{
  display: block;
  margin: 0px auto;
  text-align: center;
}
.footer-menu ul li{
  list-style: none;
  padding: 0px 5px;
}
.footer-menu ul li a{
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #1b1a1a;
}
.copyright{
  display: block;
  background: #089041;  
}
.copyright p{
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
}
.navbar-default {
  box-shadow: none;
}
.language{
  margin-top: 10px;
  text-align: right;
}
.language a{
  color: #999999;
  font-weight: bold;
}
/* ==========================================================================
   Home page style ended up
========================================================================== */


/* ==========================================================================
   Page: Product; 
========================================================================== */

.product .product-area-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 15px;
  margin-top: 30px;
}
.product .product-info-part{
  border-bottom: 1px solid #e3e3e3;
  padding: 0px;
  padding-bottom: 25px;
}
.product .product-details img{
  width: 90%;
  height: auto;
}
.product .omni-details{
  padding-left: 0px;
}
.product .omni-details h3{
  font-size: 18px;
  color: #0aabc0;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}
.product .omni-details p{
  color: #999999;
  font-size: 14px;
}
.product .featured-star ul{
  padding-left: 0px;
  display: inline-block;
  margin-bottom: 0px;
}
.product .featured-star li{
  list-style: none;
  padding: 0px 0px;
}
.product .featured-star a{
  text-decoration: none; 
}
.product .featured-star span{
  color: #999999;
  font-size: 14px;
}
.product .download-fav {
  margin-top: 15px;
  padding-left: 0px;
}
.product .download-btn{
  background: #0baabf;
  font-size: 14px;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  padding: 12px 45px;
  text-transform: uppercase;
}
.product .download-fav span{
  margin-top: 20px;
  display: block;
  font-size: 14px;
  color: #999999;
}
.product .download-fav span i{
  color: #000000;
  font-size: 20px;
}

.product .additional-part h3{
  color: #212121;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
}
.product .version{
  margin-top: 30px;
}
.product .about-app-left{
  padding-left: 0px;
  padding-right: 0px;
}
.product .additional-part ul li {
  color: #212121;
  font-size: 14px;
}
.product .additional-part ul li span{
  color: #999999;
}
.product .additional-part ul li a{
  color: #0baabf;
  font-size: 14px;
}
.product .about-app{
  margin-top: 20px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 25px;
}
.app-description h3{
  font-size: 18px;
  color: #212121;
  font-weight: bold;
  margin-top: 0px;
}
.product .app-description p{
  color: #999999;
  font-size: 14px;
  line-height: 22px;
}
.product .app-description a{
  color: #212121;
  font-size: 14px;
  font-weight: bold;
}
.product .developer-description{
  margin-top: 30px;
}
.product .developer-description h3{
  font-size: 18px;
  color: #212121;
  font-weight: bold;
}
.product .developer-description p{
  color: #212121;
  font-size: 14px;
}
.product .developer-description p span a{
  color: #0baabf;
  padding-left: 45px;
}
.product .apps-overview{
  margin-top: 20px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 25px
}
.review-tab{
  background: #0baabf;
  border-radius: 2px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  padding: 12px 40px;
  display: inline-block;
  font-size: 12px;
}
.write-review{
  padding-left: 0px;
}
.rating-point{
  font-size: 45px;
  color: #212121;
}
.review-points{
  margin-top: 10px;
}
.review-points span{
  display: block;
}
.review-progress{
  padding-left: 0px;
}
.review-progress ul li a {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
}
.review-progress ul li a i{
  color: #666666;
}
.star-level{
  padding: 0px;
}
.progress-bar-success {
  background: #88b131;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0) inset;
}
.progress {
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0) inset;
  background: none;
  padding-left:0px;
  margin-bottom: 8px;
}
.progress-bar-info {
  background-color: #99cc00;
  background-image: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0) inset;
}
.progress-bar-warning{
  background-color: #ffcf02;
  background-image: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0) inset;
}
.progress-bar-danger{
  background-color: #ff9f02;
  background-image: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0) inset;
}
.progress-bar-startup{
  background-color: #ff6f31;
  background-image: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0) inset;
}
.user-review-feedback{
  margin-top: 20px;
}
.user-feedback-box{
  border: 1px solid #e1e1e1;
  padding: 10px;
}
.user-profile-pic{
  padding-left: 0px;
}
.user-profile-detials{
  padding-right: 0px;
}
.user-profile-head{
  padding-left: 0px;
}
.user-profile-head h3{
  display: inline-block;
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
  color: #212121;
}
.user-profile-head .featured-star{
  display: inline-block;
}
.user-feedback-star{
  display: inline-block;
}
.user-profile-detials p{
  color: #999999;
  font-size: 12px;
}
.apps-overview-right h3{
  color: #212121;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.log-box{
  border: 1px solid #d8d8d8;
  background-color: #f4f4f4;
  padding: 15px;
  padding-bottom: 45px;
  margin-top: 20px;
}
.log-box h4{
  font-size: 14px;
  color: #212121;
  font-weight: bold;
}
.log-box p{
  font-size: 12px;
  color: #212121;
  font-weight: 600;
}
.product .advanced-apps{
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 25px;
}
.product .news-magazines{
  background: #ffffff;
  border: 1px solid #e3e3e3;
  padding-bottom: 25px;
}
.product .updated-games{
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-left: 0px;
}
.product .news-magazins-heading h1{
  font-size: 18px;
  color: #212121;
  text-align: left;
  font-weight: bold;
}
.product .more-btn{
  background: #0aabc0 none repeat scroll 0 0;
  border-radius: 3px;
  color: #ffffff;
  float: right;
  font-size: 14px;
  line-height: 30px;
  margin-top: 20px;
  padding: 0 12px;
  text-align: center;
}
.product .news-magazins-details{
  margin-top: 25px;
}
/* ==========================================================================
   Page: Feedback;
========================================================================== */
.feedback .feedback-area{
  margin: 40px 0px 0px 0px;
}
.feedback .input-group{
  width: 100%;
}
.feedback .feedback-area-inner{
  background: #ffffff;
  border: 1px solid #F0F0F0;
}
.feedback .feedback-area-inner .feedback-form{
  margin:  0px auto;
  display: block;
  text-align: center;
  float: none;
}
.feedback .feedback-form h3{
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}
.form-group .form-control{
  height: 50px;
  box-shadow: 0 0px 0px;
}
.feedback .feedback-area-inner form{
  margin: 0px auto;
  display: block;
}
.feedback .send-btn{
  background: #0AAAC0;
  color: #ffffff;
  border-radius: 2px;
  padding: 18px 65px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* ==========================================================================
   Page: Gift Corner
========================================================================== */
.gift-corner .gift-corner-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px;
}
.gift-corner .gift-corner-inner h4{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.gift-corner .gift-corner-area .gift-box{
  background: #0AAAC0;
  padding: 15px;
}
.gift-corner .gift-box img{
  margin: 0px auto;
  display: block;
}
.gift-corner .gift-box p{
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
/* ==========================================================================
   Page: Send Gift
========================================================================== */
.send-gift .send-gift-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px;
}
.send-gift .send-gift-inner h4{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.send-gift .balance{
  border-radius: 2px;
}
.send-gift .balance .balance-head{
  background: #0098AD;
  padding: 1px;
}
.send-gift .balance .balance-head h3{
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.send-gift .balance .points{
  background: #10A7BC;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding:42px;
  font-size: 40px;
}
.send-gift .balance .points span{
  font-weight: normal;
  display: block; 
  font-size: 20px;
  line-height: 10px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.input-group {
  width: 100%;
}
.send-gift .gift-receiver h5{
  font-weight: bold;
  color: #000000;
  font-style: 16px;
  margin-top: 0px;
} 
.send-gift .gift-receiver .receiver-info .bootstrap-select {
  margin-bottom: 15px;
}
.send-gift .gift-receiver .receiver-info .bootstrap-select > .dropdown-toggle {
  height: 50px;
  color: #999;
  border-radius: 0px;
  border: 1px solid #CCCCCC;
}
.send-gift .gift-receiver .send-btn {
  border-radius: 0px;
  border: 0px;
  background: #0AAAC0;
  padding: 15px 50px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
} 

/* ==========================================================================
   Page: My Balance;
========================================================================== */
.mybalance .my-balance-area .my-balance-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px;
}
.mybalance .my-balance-area .my-balance-inner h4{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
.mybalance .balance{
  border-radius: 2px;
}
.mybalance .balance .balance-head{
  background: #0098AD;
  padding: 1px;
}
.mybalance .balance .balance-head h3{
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.mybalance .balance .points{
  background: #10A7BC;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding:42px;
  font-size: 40px;
}
.mybalance .balance .points span{
  font-weight: normal;
  display: block; 
  font-size: 20px;
  line-height: 10px;
}
.mybalance .balance p{
  text-align: center;
  color: #999;
  line-height: 30px;
}
.mybalance .recharge-info .point-value{
  background: #D1FAFE;
  border: 1px solid #0AAAC0;
  padding: 15px;
  text-decoration: none;
  text-align: left;
  color: #000;
  margin-bottom: 15px;
} 
.mybalance .gift-receiver h5{
  font-weight: bold;
  color: #000;
  font-size: 16px;
}
.mybalance .gift-receiver .purchase-btn{
  border-radius: 0px;
  border: 0px;
  background: #0AAAC0;
  padding: 15px 35px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.mybalance .recharge-log{
  margin-top: 30px;
}
.mybalance .recharge-log .table{
  margin-top: 10px;
}
.mybalance .recharge-log .table thead tr{
  background: #F0F0F0;
}
.mybalance .recharge-log .table > thead > tr > th {
 border-bottom: 0px;
}
/* .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr:first-child th {
  border-top: 0px solid #ddd;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
} */
.mybalance .recharge-log .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 15px 10px;
}
.mybalance .recharge-log .table > tbody > tr > td{
  color: #999;
}
.mybalance .recharge-log .table > tbody > tr .failed{
  color: #F1023D;
}
.mybalance .recharge-log .table > tbody > tr .sucess{
  color: #24C42C;
}
/* ==========================================================================
   Page: Messanging
========================================================================== */
.appBajarian .message-part{
  margin-top: 30px;
}
.appBajarian .message-part .message-part-left{
  padding-right: 0px;
  padding-left: 0px;
}
.appBajarian .appBajarian-left{
  background: #0AAAC0;
  padding: 20px;
  height: 814px;
}
.appBajarian .appbajar-services h1{
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.appBajarian .appBajarian-services-list{
  margin-top: 40px;
}
.appBajarian .appBajarian-services-list ul{
  padding: 0px;
}
.appBajarian .appBajarian-services-list ul .active{
  background: #30B9CB;
}
.appBajarian .appBajarian-services-list ul li{
  list-style: none;
  padding: 10px 0px;
}
.appBajarian .appBajarian-services-list ul li a{
  color: #fff;
  font-size: 18px;
  padding: 10px;
}
.appBajarian .appBajarian-services-list ul li:hover{
  background: #30B9CB;
  font-weight:bold;
  border-radius: 3px;
  padding: 10px 0px;
}
.divider{
  height: 1px;
  background: #B5DFE3;
  margin-top: 10px;
  margin-bottom: 20px;
}

.appBajarian .appBajarian-right{
  background: #01A1B7;
  display: block;
  padding: 0px;
  height: 814px;
}
.appBajarian .search-appbajarian{
  border-bottom: 1px solid #2CB2C3;
  padding-bottom: 20px;
  display: block;
}
.appBajarian .search-appbajarian form{
  margin:0 auto;
}
.appBajarian .search-appbajarian .search { 
  padding:6px 95px 6px 30px;
  margin:3px; 
  background: url('../img/search.png') no-repeat 8px 6px;
  border: 1px solid #fff; 
}
.appBajarian  .search-appbajarian .rounded { 
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
}
.appBajarian .search-appbajarian input[type=text]{
  color:#fff;
}
.appBajarian .search-appbajarian input[type=button], input[type=button]:hover {
  position:relative; 
  left:-6px;
  border: 1px solid red;
  background: #e4f1f9; /* Old browsers */ /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: -webkit-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
  background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
  color:#7da2aa;
  cursor: pointer;
}
.appBajarian .appBajarian-right .search-appbajarian .lighter, .light, .dark {
  width:95%;
  height:50px;
  padding:40px 25px;
}

.appBajarian .list-appbajarian ul{
  padding: 0px;
}
.appBajarian .appBajarian-right .list-appbajarian ul li {
  list-style: none;
  padding: 10px 10px 0px 10px;

}
.appBajarian .list-appbajarian ul .active{
  background: #11B6CA;
  border-left: 5px solid #fff;
}
.appBajarian .list-appbajarian ul li:hover{
  background: #11B6CA;
}

.profile-wrapper{
   border-bottom: 1px solid #30B3C4;
   padding-bottom: 10px;
}
.appBajarian .appbajarian-image {

}
.appBajarian .appbajarian-image img{
  width: 100%;
}
.appBajarian .appbajarian-name{
  padding-left: 0px;
}
.appBajarian .appbajarian-name h4{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}
.appBajarian .message-part-right{
  background: #fff;
  border: 1px solid #E3E3E3;
  padding-bottom: 20px;
}
.appBajarian .message-sender{
  margin: 10px 0px;
}   
.appBajarian .sender-box{
  background: #00A8FF;
  color: #FFF;
  font-size: 14px;
  padding: 12px;
  width: 50%;
  margin-top: 20px;
  position: relative;
}
.sender-box:before, .sender-box:after {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  content: "";
}
.sender-box:before {
  border-bottom: solid 10px #fff;
  border-right: solid 10px #fff;
  border-left: solid 10px transparent;
  border-top: solid 10px transparent; 
}
.sender-box:after {
  border-right: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-left: solid 10px #30c0ff ;
  border-top: solid 10px #30c0ff;
}
.appBajarian .sender-box-two{
  padding: 12px;
  width: 70%;
}
.appBajarian .sender-box-three{
  padding: 12px;
  width: 93%;
}
.appBajarian .message-receiver{
  margin: 10px 0px;
}   
.appBajarian .receiver-box{
  background: #E0E0E0;
  color: #212121;
  font-size: 14px;
  padding: 12px;
  margin-top: 20px;
  width: 60%;
  float: right;
  text-align: right;
  position: relative;
}
.receiver-box:before, .receiver-box:after {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  left: 0;
  content: "";
}
.receiver-box:before {
  border-bottom: solid 10px #fff;
  border-left: solid 10px #fff ;
  border-right: solid 10px transparent;
  border-top: solid 10px transparent; 
}
.receiver-box:after {
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
  border-right: solid 10px #d1d1d1;
  border-top: solid 10px #d1d1d1;
}
.appBajarian .receiver-box-two{
  padding: 12px;
  width: 75%;
}
.appBajarian .receiver-box-three{
  padding: 12px;
  width: 80%;
}
.appBajarian .message-receiver span{
  text-align: right;
  display: block;
} 
.appBajarian .message-part-right span{
  color: #999;
}   
.appBajarian .appbajarian-name  p{
  color: #ddd;
}
.appBajarian .appbajarian-chat-duration{
  color: #fff;
  text-align: right;
  padding-left: 0px;
  padding: 0px;
}
.appBajarian .appbajarian-chat-duration span{
  color: #ddd;
  display: block;
}
.typing-area{
  border-top: 1px solid #d5d5d5;
  padding: 30px 0px;
}
.emote-area img{
  margin-top: 10px;
}
.appBajarian input[type=text] 
{ 
    border: 0px; 
    background: transparent; 
    color: #999999;
    font-size: 14px;
} 
/* ==========================================================================
   Page: AppBajarian V2
========================================================================== */
.appBajarian--right{
  background: #fff;
  border: 1px solid #E3E3E3;
  padding-bottom: 15px;
}
.appBajarian--right-inner{
}
.appBajarian-box{
  border: 1px solid #D7D0D0;
  padding: 10px;
  border-radius: 2px;
  margin-top: 20px;
}
.appBajarian-box:hover {
  box-shadow: 0px 8px 20px rgba(94,94,94,0.5);
  cursor: pointer;
}
.appbajarian-profile img{
  display: inline-block;
}

.appbajarian-profile span{
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}
.appbajarian-profile span h3{
  color:  #000;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 0px;
}

.appbajarian-profile  h6{
  color: #999;
  font-weight: bold;
  font-size: 14px;
  margin: 0px;
}
.appbajarian-profile span p{
  font-size: 12px;
  color: #999;
}
.appbajarian-profile span h6 span{
  background: #008aff;
  color: #fff;
  padding-left: 0px;
  font-weight: bold;
  font-size: 12px;
  padding: 0px 4px;
}
.follow-btn{
 background: #1FAE5B;
color: #fff;
font-size: 12px;
text-align: center;
padding: 4px 5px;
display: inline-block;
}
.unfollow-btn{
  background: #FF0018;
  padding: 10px 17px;
}
.send-message-btn{
  color: #000;
font-size: 12px;
text-align: center;
border: 1px solid #1FAE5B;
padding: 3px 18px;
display: inline-block;
}
.send-message-btn:hover{
  color: #0AAAC0;
}

/* ==========================================================================
   Page: Top Chart
========================================================================== */

.top-chart .top-chart-area .top-chart-area-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px;
}
.top-chart .top-chart-area .top-chart-area-inner h3{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
.top-chart .filter-btn{
  background: none;
  border: 1px solid #999;
  color: #999;
  font-size: 16px;
  text-align: center;
  padding: 5px 10px;
}
.top-chart .filter-btn:hover{
  background: #0AABC0;
  color: #fff;
  border: 1px solid #0AABC0;
}
.top-chart .chart-category-list ul li{
  margin-bottom: 10px;
}
.top-chart .category-products{
  margin-top: 30px;
}
.mix{
  display: none;
}

/* ==========================================================================
   Page: Submit Ticket
========================================================================== */

.submit-ticket .my-ticket-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px;
}
.submit-ticket .active-btn{
  padding: 12px 22px;
  border-radius: 0px;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #212121;
  font-size: 16px;
}
.submit-ticket .active-btn span{
  background: #0aabc0;
  border-radius: 80%;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  padding: 5px;
}
.submit-ticket .completed-btn{
  padding: 12px 22px;
  border-radius: 0px;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #212121;
  font-size: 16px;
}
.table-responsive {
  overflow-x: visible;
}
.submit-ticket .completed-btn span{
   background: #0aabc0;
  border-radius: 80%;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  padding: 5px;
}
.submit-ticket .recharge-log{
  margin-top: 30px;
}
.submit-ticket .log-left h4{
  color: #212121;
  font-weight: bold;
  font-size: 18px;
}
.submit-ticket .new-btn{
  background: #0aabc0;
  color: #fff;
  border: 0px;
  border-radius: 0px;
  font-weight: bold;
  font-size: 
}

/* ==========================================================================
   Page: User Profile
========================================================================== */
.appbajarian-profile .appbajarian-profile-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  margin-top: 30px;
}
.appbajarian-profile .appbajarian-profile-banner{
  background: url(../img/user-profile/userprofile-banner.jpg) no-repeat;
  height: 300px;
}
.userdetails-wrapp{
  padding: 50px 0px 0px 25px;
}
.appbajarian-profile .user-avatar{
  padding-right: 8px;
}
.appbajarian-profile .user-avatar img{
  float: right;
}
.appbajarian-details{
  padding-left: 0px;
}
.user-address{
  background: #ffffff;
  padding: 20px;
}
.user-address h3{
  color: #212121;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 0px;
}
.user-address p span{
  color: #999999;
  font-size: 14px;
  display: block;
}
.user-address p{
  color: #212121;
  font-size: 14px;
  margin-bottom: 20px;
}

.follower{
  background: #0aabc0;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 25px;
}
.follower span{
  display: block;
  font-size: 18px;
}
.following{
  background: #00a0b5;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 25px;
}
.following span{
  display: block;
  font-size: 14px;
}
.applications{
  background: #028fa1;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 25px;
}
.applications span{
  display: block;
  font-size: 14px;
}
.about-appbajarian{
  padding: 40px;
}
.user-circle{
  border: 2px solid #dfdfdf;
  border-radius: 100%;
  display: block;
  text-align:  center;
  margin:  0px auto;
  width: 40px;
  height: 40px;
  line-height: 45px;
}
.user-circle i{
  color: #dfdfdf;
  font-size: 20px;
}
.about-me h4{
  color: #212121;
  font-weight: bold;
  font-size:16px;
  display: inline-block;
}
.about-me p{
  color: #999999;
  font-size: 14px;
}
.work-icon{
  margin-top: 40px;
}
.work-history{
  margin-top: 50px;
}
.work-history h4{
  color: #212121;
  font-weight: bold;
  font-size:16px;
}
.work-history h5{
  color: #0aabc0;
  text-transform: uppercase;
  font-weight: bold;
}
.work-history p{
  color: #999999;
  font-size: 14px;
}
.edu-history{
  margin-top: 50px;
  padding-bottom: 30px;
}
.edu-history h4{
  color: #212121;
  font-weight: bold;
  font-size:16px;
}
.edu-history h5{
  color: #0aabc0;
  text-transform: uppercase;
  font-weight: bold;
}
.edu-history p{
  color: #999999;
  font-size: 14px;
}
.border-left{
  border-left: 2px solid #dedede; 
  height: 198px;
  position: absolute;
  left: 44px;
}
.work-border{
  height: 231px;
}

/* ==========================================================================
  Page: Single Page
========================================================================== */
.single-page .single-page-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px;
}
.single-page .single-page-inner h4{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
/* ==========================================================================
   Page: FAQ
========================================================================== */

.faq .ask-question-area .faq-area-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px
}
.faq .ask-question-area .faq-area-inner .feedback-form h3{
  color: #000000;
  font-weight: bold;
  font-size: 18px;

}
.faq .ask-question-area .faq-area-inner .stylish-input-group .input-group-addon{
    background: white !important; 
}
.faq .ask-question-area .faq-area-inner .stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
  height: 45px;
}
.faq .ask-question-area .faq-area-inner .stylish-input-group button{
    border:0;
    background:transparent;
}
.faq .ask-question-area .faq-area-inner .faq-search-btn{
  color: #fff;
  font-size: 14px;
  background: #0BAABF;
  border-radius: 3px;
  text-align: center;
  padding: 12px 10px;
  display: block;
}
.faq .ask-question-area .faq-area-inner .faq-submit-btn{
  color: #676767;
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
  padding: 12px 10px;
  display: block;
  border: 1px solid #DBDBDB;
}
.faq .faq-bottom-left{
  margin-top: 25px;
}
.faq  .panel{
  border-radius: 2px;
  margin-bottom: 10px;
}
.faq .panel-default > .panel-heading {
  background-color: #f5f5f5;
  border-color: #DEDEDE;
  color: #212121;
  cursor: pointer;
}
.faq .panel-default > .panel-heading:hover{
  background: #0BAABF;
  color: #fff;
}
.faq  .panel-heading:hover a {
  color: #fff;
}
.faq .panel-default > .panel-heading:hover i{
  color: #fff !important;
}
.faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background: none;
}
.faq .panel-heading h4.panel-title{
  color: #212121;
  font-size: 16px; 
  font-weight: bold;
}
.faq .panel-heading span{
  float: right;
  margin-top: -4px;
}
.faq .panel-heading .fa-angle-down{
  text-align: right;
  color: #141414;
  font-size: 25px;
  font-weight: bold;
}

/* .faq .ask-question-area .faq-area-inner .panel-heading [data-toggle="collapse"]:after{


  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
}
.panel-heading [data-toggle="collapse"].collapsed:after{
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}
*/
.faq .ask-question-area .faq-area-inner .panel-body{
  color: #999999;
  font-size: 12px;
}
.faq .ask-question-area .faq-area-inner .faq-bottom-right{
  margin-top: 25px;
  padding-right: 0px;
}

/* ==========================================================================
   Page: Terms-Condition
========================================================================== */
.termscondition .termscondition-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px;
}
.termscondition .termscondition-inner h4{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
.termscondition .termscondition-inner span{
  font-weight: bold;
}
.condition-one p{
  color: #999999;
  font-size: 14px;
}
.condition-one span{
  color: #000;
}
.condition-two p{
  color: #999999;
  font-size: 14px;
}
.condition-two span{
  color: #000;
}
.condition-two-sub{
  padding-left: 20px;
  padding-bottom: 20px;
}
.condition-two-sub p{
  color: #999999;
  font-size: 14px;
}
.condition-two-sub span{
  font-weight: bold;
  color: #000;
  font-size:14px;
}
.condition-three{
  margin-top: 50px;
}
.condition-three p{
  color: #999999;
  font-size: 14px;
}
.condition-three span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-three-sub{
  padding-left: 20px;
  padding-bottom: 20px;
}
.condition-three-sub p{
  color: #999999;
  font-size: 14px;
}
.condition-three-sub span{
  font-weight: bold;
  color: #000;
  font-size: 14px;
}
.condition-four{
  margin-top: 50px;
}
.condition-four p{
  color: #999999;
  font-size: 14px;
}
.condition-four span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-four-sub{
  padding-left: 20px;
  padding-bottom: 20px;
}
.condition-four-sub p{
  color: #999999;
  font-size: 14px;
}
.condition-four-sub span{
  font-weight: bold;
  color: #000;
  font-size: 14px;
}
.condition-five{
  margin-top: 50px;
}
.condition-five p{
  color: #999999;
  font-size: 14px;
}
.condition-five span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-six{
  margin-top: 50px;
}
.condition-six p{
  color: #999999;
  font-size: 14px;
}
.condition-six span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-seven{
  margin-top: 50px;
}
.condition-seven p{
  color: #999999;
  font-size: 14px;
}
.condition-seven span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-eight{
  margin-top: 50px;
}
.condition-eight p{
  color: #999999;
  font-size: 14px;
}
.condition-eight span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-nine{
  margin-top: 50px;
}
.condition-nine p{
  color: #999999;
  font-size: 14px;
}
.condition-nine span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-ten{
  margin-top: 50px;
}
.condition-ten p{
  color: #999999;
  font-size: 14px;
}
.condition-ten span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-eleven{
  margin-top: 50px;
}
.condition-eleven p{
  color: #999999;
  font-size: 14px;
}
.condition-eleven span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-eleven-sub{
  margin-top: 50px;
}
.condition-eleven-sub p{
  color: #999999;
  font-size: 14px;
}
.condition-eleven-sub span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-tweleve{
  margin-top: 50px;
}
.condition-tweleve p{
  color: #999999;
  font-size: 14px;
}
.condition-tweleve span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-thirteen{
  margin-top: 50px;
}
.condition-thirteen p{
  color: #999999;
  font-size: 14px;
}
.condition-thirteen span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-fourteen{
  margin-top: 50px;
}
.condition-fourteen p{
  color: #999999;
  font-size: 14px;
}
.condition-fourteen span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-fifteen{
  margin-top: 50px;
}
.condition-fifteen p{
  color: #999999;
  font-size: 14px;
}
.condition-fifteen span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-sixteen{
  margin-top: 50px;
}
.condition-sixteen p{
  color: #999999;
  font-size: 14px;
}
.condition-sixteen span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.condition-seventeen{
  margin-top: 50px;
}
.condition-seventeen p{
  color: #999999;
  font-size: 14px;
}
.condition-seventeen span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.condition-eighteen{
  margin-top: 50px;
}
.condition-eighteen p{
  color: #999999;
  font-size: 14px;
}
.condition-eighteen span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.condition-nineteen{
  margin-top: 50px;
}
.condition-nineteen p{
  color: #999999;
  font-size: 14px;
}
.condition-nineteen span{
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
/* ==========================================================================
   Page: About Us
========================================================================== */
.about-us{}
.about-us .about-us-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px;
}
.about-us .about-us-inner h4{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

.about-us .about-us-inner .know-more p{
  color: #999999;
  font-size: 14px;
  line-height: 22px;
}
.about-us .about-us-inner .appbajar-mgt {
  margin-top: 50px;
}
.about-us .about-us-inner .appbajar-mgt p{
  color: #999999;
  font-size: 14px;
  line-height: 22px;
}
.about-us .about-us-inner .mgt-detials{
  margin-top: 30px;
}
.about-us .about-us-inner .mgt-detials img{
  margin: 0px auto;
  display: block;
}
.about-us .about-us-inner .mgt-detials h5{
  text-align: center;
  font-size: 18px;
  color: #212121;
  font-weight: bold;
  margin-bottom: 5px;
}
.about-us .about-us-inner .mgt-detials p{
  text-align: center;
}
/* ==========================================================================
   Page: Privacy Policy
========================================================================== */
.privacy-policy .privacy-policy-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px;
}
.privacy-policy .privacy-policy-inner h4{
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
.privacy-policy .privacy-policy-inner p{
  color: #999999;
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
}
/* ==========================================================================
   Page: Contact
========================================================================== */
.contact .contact-form h3{
  font-weight: bold;
}
.contact .contact-area-inner{
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 20px;
  margin-top: 30px;
}
.contact .contact-area-inner .send-btn{
  border-radius: 0px;
  border: 0px;
  background: #0AAAC0;
  padding: 15px 50px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.gmap {
  width:100%;
  height:100%;
  min-height:250px;
}
.gmap_image img {
  max-width:100%;
}


/* Grid 5*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
  }
}

.counter{
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
.counter span{
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 30px; 
}
.user-pro-name{
  padding-left: 0px;
  padding-right: 0px;
}
.user-control-inner {
  border: 2px solid #e2e2e2;
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  border-right: 0px;
  margin-top: 8px;
  border-radius: 2px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #e2e2e2;
    color: 666666;
    padding: 6px 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #666666;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}
.dropdown span i{
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 227px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999999;
    border-top: 4px solid #0aabc0;
    right: 0px;
    top: 60px;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: #999999;
  font-size: 14px;
  font-weight: bold;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dropdown-content a i{
  font-size: 14px;
}

.dropdown-content a:hover{
  color: #0aabc0
} 
.dropdown-content a:hover i{
  color: #0aabc0
} 

.sign-out{
  background: #cfcfcf;
  color: #000 !important;
  text-align: center;
  font-weight: bold;
  padding: 12px !important;
  margin: 0px;
  line-height: 0px !important;
} 

/* ==========================================================================
   Page: Login & Signup
========================================================================== */
.login-section{
  margin-top: 40px;
}
.login .login-inner{
  background: #ffffff;
  border: 1px solid #e3e3e3;
  padding: 30px;
  margin-bottom: 30px;
}
.login .login-inner h3{
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.login .appbajar-user-login{
  margin: 0px auto;
  display: block;
  float: none;
  margin-top: 40px;
}
.login .appbajar-user-login .user-login{
  margin-top: 30px;
}
.signin-form{
  margin-top: -30px;
}
.signin-form .form-control{
  background: none;
  height: 50px;
  border-radius: 0px;
  border:1px solid #D6D5D5;
}
.login .select-country .bootstrap-select > .dropdown-toggle {
  height: 50px;
  color: #999;
  border-radius: 0px;
  border: 1px solid #CCCCCC;
}
.signin-button button{
  background: #383838;
  color: #fff;
  height: 34px;
  width: 15%;
  font-size: 12px;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}
.signin-head{
  text-align: left;
  margin-bottom: 30px;
  font-size: 20px;
  color: #302E2D;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
}
.checkbox label{
  color: #999;
}
.remember-me{
  padding-left: 0px;
  margin-top: 5px;
}
.forget-password{
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  padding-left: 15px;
  margin-top: 20px;
  text-align: right;
  padding-right: 0px;
}
.forget-password a{
  color: #999;
  font-size: 12px;
  text-align: right !important;
}
.signin-button{
  margin-top: 20px;
  float: right;
}

.signin-button button{
  background: #0AABC0;
  color: #fff;
  height: 34px;
  width: 100%;
  font-size: 12px;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;

}
.signin-button button:hover{
  background: #0AABC0;
  color: #fff;
}
.or{
  margin: 0px auto;
  float: none;
  text-align: center;
}
.or-inner{
  margin-bottom: 20px;
}
.or-inner::before{
  position: absolute;
  display: block;
  content: "";
  left: 0px;
  top: 50%;
  height: 2px;
  background: #D6D5D5 none repeat scroll 0% 0%;
  width: 100%;

}
.or-inner p{
  background: #FFF none repeat scroll 0% 0%;
  display: inline;
  padding: 0px 10px;
  margin: 0px;
  position: relative;
  font-size: 20px;
  color: #D6D5D5;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
}

.alternative-button{
  margin: 0px auto;
  float: none;
  text-align: center;
  padding: 0px;
}

.alternative-button button{
  width: 100%;
  border-radius: 2px;
  background: #003F75;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  height: 30px;
  padding: 2px 13px;
}

.alternative-button button i{
  margin-right: 10px;
  font-size: 20px;
}

.alternative-button button:hover{
  background-color: none;
}

.alternative-button .btn:hover{
  background: #003F75;
  color: #C4E4FF;
}

.no-acc{
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  color: #302E2D;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  color: #999;
  font-weight: bold;
};

.inner-footer-area {
  margin-top:0px;
} 
.inner-view-all a{
  color:#FFF;
}

