/* ==========================================================================
	Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Noticia+Text:400,700);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@font-face { 
	font-family: "HelveticaCond"; 
	src: url('../fonts/Helvetica-Condensed-Bold.otf'); 
} 
@font-face { 
	font-family: "HelveticaCond"; 
	font-weight: bold; 
	src: url('../fonts/Helvetica-Condensed-Bold.otf'); 
}
body{
    font-family: "HelveticaCond", "Helvetica Neue Light", "Helvetica Neue";
    background: #ffffff;
    overflow-x: hidden;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a{
	transition: all 0.5s;
}
a:hover{
    text-decoration: none;
    outline: 0px;
}
a:focus{
	outline: 0px;
}
.padding-off{
	padding: 0px;
}
.padding-left-off{
	padding-left: 0px;
}
.padding-right-off{
	padding-right: 0px;
}
.margin-t10{
	margin-top: 10px;
}
.margin-t15{
	margin-top: 15px;
}
.margin-t20{
	margin-top: 20px;
}
.margin-t25{
	margin-top: 25px;
}
.margin-t30{
	margin-top: 30px;
}
/*----------------------------
    Headers Styles Start 
-----------------------------*/
.header-top{
	background-color: #e46c0a;
	border-radius: 0px!important;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: -45px;
}
.navbar-bootsnipp .navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

/* Search Form Styles*/
#imaginary_container{
    margin-top:1%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
/* .animbrand{
	content: none !important;
} 
.animbrand a{
	letter-spacing: 3px;
	color:#fff!important;
	font-size: 30px;
	font-weight: bold;
	padding-left: 0px;
} */
/*----------------------------
    Headers Styles End 
-----------------------------*/


/*----------------------------
    Top Ten Styles Start
-----------------------------*/
.BodyWrap{

}
.body-area{

}
.top-chart-area{

}
.topchart-head{
	text-align: center;
	padding: 2% 0%;
	color: #e46c0a;
}
.topchart-icon{

}
.list-group{

}
.list-group a{
	text-decoration: none;
	color:#333;
	display:block;
}
.list-group-item{
	border-left: 1px solid #f6ad7d!important;
}
.list-group-item:first-child{
	border-radius: 0px!important;
	border-top: none;
}
.img-center{
	display: block;
    margin-left: auto;
    margin-right: auto
}
.nav > li > a{
	padding: 5px 6px!important;
}
.nav-tabs > li.active > a{
	color:#f6ad7d!important;
	border:1px solid #f6ad7d!important;
	border-bottom: 1px solid #fff !important;
}
.nav-tabs{
	border-bottom:1px solid #f6ad7d!important;
}
.scroll{
	overflow-y: scroll;
	height:380px;
}
.label{
	float: right;
	font-size: 8px;
	background: transparent;
	color: #a5a3a2;
}
.list-text{
	font-size: 11px;
	color: #bcbbba;
}
.list-image{
	float:left;
}
.list-image img{
	width:30px;
	height: 30px;
	display:inline-block;
	margin-right:2px;
}
.top-tab{
	
}
/*
========Main Content Section========
*/
.main-content-wrap{

}
.main-content-head{

}
.main-content-icon{

}
.main-content-body{
	
}