.header-top{
	background-color: #e46c0a;
	border-radius: 0px!important;
}

.animbrand a{
	letter-spacing: 3px;
	color:#fff!important;
}
/*========
topten section
==========
*/
.BodyWrap{

}
.body-area{

}
.top-chart-area{

}
.topchart-head{
	text-align: center;
	padding: 2% 0%;
	color: #e46c0a;
}
.topchart-icon{

}
.list-group{

}
.list-group a{
	text-decoration: none;
	color:#333;
	display:block;
}
.list-group-item{
	border-left: 1px solid #f6ad7d!important;
}
.list-group-item:first-child{
	border-radius: 0px!important;
	border-top: none;
}
.img-center{
	display: block;
    margin-left: auto;
    margin-right: auto
}
.nav > li > a{
	padding: 5px 6px!important;
}
.nav-tabs > li.active > a{
	color:#f6ad7d!important;
	border:1px solid #f6ad7d!important;
	border-bottom: 1px solid #fff !important;
}
.nav-tabs{
	border-bottom:1px solid #f6ad7d!important;
}
.scroll{
	overflow-y: scroll;
	height:380px;
}
.label{
	float: right;
	font-size: 8px;
	background: transparent;
	color: #a5a3a2;
}
.list-text{
	font-size: 11px;
	color: #bcbbba;
}
.list-image{
	float:left;
}
.list-image img{
	width:30px;
	height: 30px;
	display:inline-block;
	margin-right:2px;
}
.top-tab{
	
}
/*
========Main Content Section========
*/
.main-content-wrap{

}
.main-content-head{

}
.main-content-icon{

}
.main-content-body{
	
}